Frontend/package-lock.json
/Backend/Magicianred.Net.Backend/.vs/Magicianred.Net.Backend/v16
/Backend/Magicianred.Net.Backend/Magicianred.Net.Backend.Web/bin
/Backend/Magicianred.Net.Backend/Magicianred.Net.Backend.Web/obj/Debug
/Backend/Magicianred.Net.Backend/Magicianred.Net.Backend.BL/obj
/Backend/Magicianred.Net.Backend/Magicianred.Net.Backend.DAL.Fake/obj
/Backend/Magicianred.Net.Backend/Magicianred.Net.Backend.Domain/obj
/Backend/Magicianred.Net.Backend/Magicianred.Net.Backend.BL/bin/Debug/netstandard2.0
/Backend/Magicianred.Net.Backend/Magicianred.Net.Backend.DAL.Fake/bin/Debug/netstandard2.0
/Backend/Magicianred.Net.Backend/Magicianred.Net.Backend.Domain/bin/Debug/netstandard2.0
/Backend/Magicianred.Net.Backend/packages
/Backend/Magicianred.Net.Backend/.vs/Magicianred.Net.Backend/DesignTimeBuild/.dtbcache.v2
/Backend/Magicianred.Net.Backend/Magicianred.Net.Backend.BL/bin/Release/netstandard2.0
/Backend/Magicianred.Net.Backend/Magicianred.Net.Backend.DAL.Fake/bin/Release/netstandard2.0
/Backend/Magicianred.Net.Backend/Magicianred.Net.Backend.Domain/bin/Release/netstandard2.0
/Backend/Magicianred.Net.Backend/Magicianred.Net.Backend.Web/obj/Release
